# /etc/systemd/system
# maybe move to user? ~/.local/share/systemd/user
# sudo systemctl daemon-reload

[Unit]
Description=Mount External Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/deck/.local/share/scawp/SDMED/automount.sh add %i
ExecStop=/home/deck/.local/share/scawp/SDMED/automount.sh remove %i
